<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://unpkg.com/normalize.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/magick.css@1.0.6/magick.css" />
        <title>JRDoc</title>
    </head>
    <body>
        <main>
            <header><h1>JRCode</h1></header>
            <h3>Application ECOF</h3>
            <p>Application de l'Eglise Catholique Orthodoxe de France</p>
            <a href="/">Voire le site</a>
            <section></section>
            <h3>Orthooxie & Occident</h3>
            <section></section>
            <h3>JRDoc</h3>
            <footer>
                <h3><a href="/newhome">GitHub</a></h3>
            </footer>
        </main>
    </body>
</html>
