<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="/img/favicon.svg" />
        <meta name="color-scheme" content="light dark" />
        <link rel="stylesheet" href="/css/global.css" />
        <title>jrc0de</title>
    </head>

    <body>
        <main class="container">
            <nav class="container">
                <ul>
                    <li>
                        <img class="left-menu" src="img/logo.png" alt="Logo" />
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/" rel="noopener noreferrer" aria-label="GitHub">
                            <img src="img/wrench.svg" alt="tools" style="width: 1.2em; height: 1.2em" />
                        </a>
                    </li>
                    <li>
                        <a href="/languages" rel="noopener noreferrer" aria-label="GitHub">
                            <img src="img/code-xml.svg" alt="code" style="width: 1.2em; height: 1.2em" />
                        </a>
                    </li>
                    <!--
                    <li>
                        <a href="/" rel="noopener noreferrer" aria-label="GitHub">
                            <img src="img/rocket.svg" alt="projects" style="width: 1.2em; height: 1.2em" />
                        </a>
                    </li>
                    -->
                    <li>
                        <a href="https://github.com/jrc0de" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
                            <img src="img/github.svg" alt="github" style="width: 1.2em; height: 1.2em" />
                        </a>
                    </li>
                </ul>
            </nav>
            <br /><br />

            <!--
            <h2><img src="img/javascript.svg" alt="JavaScript" class="icon-inline" /> JavaScript</h2>
            <ul>
                <li><code>Hello</code> – Hello world</li>
            </ul>
            -->

            <h2><img src="img/typescript.svg" alt="TypeScript" class="icon-inline" /> TypeScript</h2>
            <br />
            <h4>Les primitives JavaScript</h4>
            <ul>
                <li><code>const a: string = "Bonjour"</code> – Chaîne de caractères</li>
                <li><code>const b: number = 3</code> – Nombre entier ou décimal</li>
                <li><code>const c: boolean = true</code> – Booléen (true ou false)</li>
                <li><code>const d: null = null</code> – Absence intentionnelle de valeur</li>
                <li><code>const e: undefined = undefined</code> – Variable déclarée mais sans valeur assignée</li>
            </ul>

            <h4>Tableaux</h4>
            <ul>
                <li><code>const table1: number[] = [1, 2, 3]</code> – Tableau de nombres</li>
                <li><code>const table2: string[] = ["toto", "titi", "tata"]</code> – Tableau de chaînes de caractères</li>
            </ul>

            <h4>Types spécifiques à TypeScript</h4>
            <ul>
                <li><code>const f: any = "toto"</code> – Désactive la vérification de type, à éviter (préférer <em>unknown</em>)</li>
                <li><code>const g: unknown = "titi"</code> – Accepte n'importe quel type, mais oblige à vérifier le type avant utilisation</li>
            </ul>
            <br />
        </main>
    </body>
</html>
