<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style/portfolio.css" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
        <title>JRCode</title>
    </head>
    <body>
        <main class="container">
            <header>
                <h1>JRCode<span>_</span></h1>
            </header>

            <h3>├─ Application ECOF</h3>
            <p>Application de l'Eglise Catholique Orthodoxe de France disponible sur Android et web.</p>
            <a href="https://www.ecof.info/" target="_blank">❯ ecof.info</a>

            <h3>├─ Orthodoxie & Occident</h3>
            <p>En cours de développement...</p>

            <h3>├─ JRScore</h3>
            <p>En cours de développement...</p>
            <a href="https://jrscore.jrcode.cloud/" target="_blank">❯ jrdoc.jrcode.cloud</a>

            <h3>├─ JRDoc</h3>
            <p>En cours de développement...</p>
            <a href="https://jrdoc.jrcode.cloud/" target="_blank">❯ jrdoc.jrcode.cloud</a>

            <footer>
                <h3><a href="https://github.com/jrc0de" target="_blank">⌥ GitHub</a></h3>
            </footer>
        </main>
    </body>
</html>
