<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style/portfolio.css" />
        <title>JRCode</title>
    </head>
    <body>
        <main class="container">
            <header>
                <h1>JRCode<span>_</span></h1>
            </header>

            <h2>PROJETS</h2>

            <h3>░ Application ECOF</h3>
            <p>Application de l'Eglise Catholique Orthodoxe de France</p>
            <a href="https://www.ecof.info/" target="_blank">→ Voir le site</a>

            <h3>░ Orthodoxie & Occident</h3>
            <p>En cours de développement...</p>
            <a href="/">→ [...]</a>

            <h3>░ Outil de notation musicale</h3>
            <p>En cours de développement...</p>
            <a href="/">→ [...]</a>

            <h3>░ JRDoc</h3>
            <p>En cours de développement...</p>
            <a href="/">→ [...]</a>

            <footer>
                <h3><a href="https://github.com/jrc0de" target="_blank">⌥ GitHub</a></h3>
            </footer>
        </main>
    </body>
</html>
